{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ProCoder | User Profile</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'tutorial/userprofile/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{% static 'tutorial/userprofile/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'tutorial/userprofile/css/resume.min.css' %}" rel="stylesheet">
  <style type="text/css">
    .img {
    float:  left;
    width:  200px;
    height: 200px;
    background-size: cover;
     border-radius: 50%;
      border:8px solid #ffe1ff;
}
  </style>
</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none"></span>
      <span class="d-none d-lg-block">
        <img class="img" src="{{user.pic.url}}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
         <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% url 'tutorial:userdashboard' %}">BACK</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">{{user.first_name}}
          <span class="text-primary">{{user.last_name}}</span>
        </h1>
        <div class="subheading mb-5" style="font-size: 1.3rem;">
          {% for i in user.key_set.all %}{{i.key}}.{% endfor %}  
          <br>        
          <a href="/blog/postsearch?user={{user.id}}&post_title=+&contain=&start_date=&end_date=+" target="_blank"><i class="fas fa-blog"></i>&nbsp;Blog&nbsp; @{{user.user.username}}</a>
          <br>
          {% if check %}
            {% for i in star_print %}
              {% if i == 'STAR' %}
                    <i class="fas fa-star fa-lg" style="color:#cd8162;"></i>
              {% elif i == 'HALF_STAR' %}
                  <i class="fas fa-star-half-alt fa-lg" style="color:#cd8162;"></i>
              {% elif i == 'NOTSTAR' %}
                  <i class="far fa-star fa-lg" style="color:#cd8162;"></i>    
              {% endif %}
            {% endfor %}
          {% else %} 
          <p>Give Rate:</p>
          <form action="" method="POST">{% csrf_token %}
            <button class="btn btn-link" type="submit" name="star" value="1">
                <i class="far fa-star fa-lg" style="color:#cd8162;"></i>
            </button>
            <button class="btn btn-link btn-xs" type="submit" name="star" value="2">
                <i class="far fa-star fa-lg" style="color:#cd8162;"></i>
            </button>
            <button class="btn btn-link btn-xs" type="submit" name="star" value="3">
                <i class="far fa-star fa-lg" style="color:#cd8162;"></i>
            </button>
            <button class="btn btn-link btn-xs" type="submit" name="star" value="4">
                <i class="far fa-star fa-lg" style="color:#cd8162;"></i>
            </button>
            <button class="btn btn-link btn-xs" type="submit" name="star" value="5">
                <i class="far fa-star fa-lg" style="color:#cd8162;"></i>
            </button>
          </form>
          {% endif %}
        </div>
        <p class="lead mb-5">{{user.about}}</p>
        <div class="social-icons">
          <a href="{{user.linkedin}}" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="{{user.github}}" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="{{user.twitter}}" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="{{user.facebook}}" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
           
        </div>
      </div>
    </section>
 

    

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
        	{% for i in user.skill.all %}
          <li class="list-inline-item">
            {{i.skill_icon|safe}}
          </li>
          {% endfor %}
        </ul>  	 
          

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
         
            {% for i in user.workflow_set.all %}
             <li>
            <i class="fa-li fa fa-check"></i>
              {{i.workflow}}
              </li>
            {% endfor %}
         
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <ul class="fa-ul mb-0">
         
            {% for i in user.interest_set.all %}
             <li>
            <i class="fa-li fa fa-splotch"></i>
              {{i.interest}}
              </li>
            {% endfor %}
         
        </ul>
       
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
           {% for i in user.award_set.all %}
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              {{i.award}}
            </li>
           {% endfor %}
        
         
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'tutorial/userprofile/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'tutorial/userprofile/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'tutorial/userprofile/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'tutorial/userprofile/js/resume.min.js' %}"></script>

</body>

</html>
